[DEFAULT]
SaveToDatabase = yes
SaveToDatabaseIntervalSecond = 60
SendToAIO = no
SendToAIOIntervalSecond = 60
CCS811 = yes
SHT31 = yes
BMP180 = yes
Display = sh1106
# ssd1306 (0.96") or sh1106 (1.3")

[AIO]
AIOKey = YOUR_AIO_KEY
Tempurl = https://io.adafruit.com/api/feeds/temp-loc1/data
Humurl = https://io.adafruit.com/api/feeds/hum-loc1/data
Co2url = https://io.adafruit.com/api/feeds/co2-loc1/data
Presurl = https://io.adafruit.com/api/feeds/pres-loc1/data
Tvocurl = https://io.adafruit.com/api/feeds/tvoc-loc1/data
