[DEFAULT]
SaveToDatabase = yes
SaveToDatabaseIntervalSecond = 60
SendToAIO = yes
SendToAIOIntervalSecond = 60
CCS811 = no
SHT31 = yes
BMP180 = yes

[AIO]
AIOKey = YOUR_AIO_KEY
Tempurl = https://io.adafruit.com/api/feeds/temp-loc1/data
Humurl = https://io.adafruit.com/api/feeds/hum-loc1/data
Co2url = https://io.adafruit.com/api/feeds/co2-loc1/data
Presurl = https://io.adafruit.com/api/feeds/pres-loc1/data
Tvocurl = https://io.adafruit.com/api/feeds/tvoc-loc1/data
